.body {
    display: flex;
    background-color: #fafbfc;
    margin:5%;
    justify-content: center;
    
}
.Titulo {
    display: flex;
    justify-content: center;

}
.Boton {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    
}
.grafs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-spacing: 10px;
    border-spacing: 10px;
    
}
.graf {
    display: flex;
    margin: 10px;
    max-height: 400px;
    max-width: 400px;
    border-style: solid;
    border-color: grey;
}
